#CompleteMDC {
    background-color: rgba(48, 48, 48, 0.938);
    color: white;
}

.leftMenu {
    background: #222;
}

.active{
    border-left: 3px solid #21CCFC;
}

#chargesPlayer .listCharges div:nth-child(odd) {
    background-color: rgba(29, 29, 29, 0.808);
}

.line:nth-child(even) {
    background-color: rgba(29, 29, 29, 0.808);
}

.topHomeColumn  > div:nth-child(3){
    border-bottom: 1px solid #ffffff ;
}

#r911 .line div:nth-child(5) p:nth-child(1){
    border-bottom: 1px solid #ffffff ;
}

.searchIndvProperty{
    border-bottom: 1px solid #cccccc67;
}

#searEmpty{
    color: rgb(82, 82, 82);
}