#CompleteMDC {
    background-color: rgba(194, 194, 194, 0.897);
    color: rgb(31, 31, 31);
}

.leftMenu {
    background: rgb(121, 121, 121);
}

.active{
    border-left: 3px solid rgb(0, 93, 146);
}

#chargesPlayer .listCharges div:nth-child(odd) {
    background-color: rgba(34, 34, 34, 0.432);
}

.line:nth-child(even) {
    background-color: rgba(99, 99, 99, 0.568);
}

.topHomeColumn  > div:nth-child(3){
    border-bottom: 1px solid #000000 ;
}

#r911 .line div:nth-child(5) p:nth-child(1){
    border-bottom: 1px solid #000000 ;
}

.searchIndvProperty{
    border-bottom: 1px solid rgba(75, 75, 75, 0.404);
}

#searEmpty{
    color: rgb(207, 206, 206);
}