@import url('https://fonts.googleapis.com/css?family=Anton|Staatliches');
html, body {
    margin: 0;
    height: 100%;
}

body{
    background-image: url("imgs/back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container{
    padding: 0.5%;
    width: 99%;
    height: 99%;
}


@font-face {
    font-family: "msu1";
    src: url(font/msu1.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(font/Roboto.ttf);
}

@font-face {
    font-family: "digital";
    src: url(font/digital-7.ttf);
}


#logo {
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 4%;
}

#logo img {
    width: 100%;
    z-index: 10;
}

#close {
    float: left;
    height: 100%;
    padding: 0 1%;
    font-size: 1vw;
    width: 120px;
}

#close:hover {
    cursor: pointer;
    background-color: rgba(90, 14, 14, 0.795);
}

#close img {
    height: 70%;
}


.amount {
    float: right;
    height: 100%;
    padding: 0 8%;
    font-size: inherit;
    background: rgba(15, 61, 104, 0.493)
}

.blackTheme{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    /* text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000; */
}

.whiteTheme{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(31, 31, 31);
}

.mdcContent {
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 1px;
    width: 65%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: black;
    resize: both;
    overflow: hidden;
    min-width: 750px;
    min-height: 430px;
    z-index: 10;
}




.header {
    font-family:"msu1";
    width: 100%;
    height: 10%;
    background-color: antiquewhite;
    color: azure;
    font-size: 2.3vh;
    text-align: center;
    cursor: move;
    text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}

.header .topbar{
    background: linear-gradient(to right, #1D6EBA , #0E355A);
    height: 50%;
}
.header .bottonBar{
    background: linear-gradient(to right, #0E355A , #1D6EBA);
    height: 50%;
}



.content {
    width: 100%;
    height: 90%;
}

.leftMenu {
    height: 100%;
    width: 12%;
    text-align: left;
    float: left;
    overflow-y: auto;
}

.darkBackground{
    background: #222;
}
.whiteBackground{
    background: rgb(121, 121, 121);
}

.leftMenu .option {
    cursor: pointer;
    padding: 5px 20px;
    border-bottom: 1px solid #363636;
    /* height: 32px;
    width: 98%;
    background-color: rgb(29, 110, 186);
    color: azure;
    margin: 1%;
    border-radius: 2em / 5em;
    */
    font-size: 1.3vh;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}



.leftMenu .divisory {
    height: 2%;
    width: 98%;
    margin: 2%;
    border-bottom: 1px solid #363636;
}


.leftMenu .option:hover {
    background: #363636;
}

.leftMenu .option:active{
    background-color: rgb(2, 11, 20);
}

.InnerContent {
    float: left;
    height: calc(100% - 15px);
    width: 88%;
}

.generalContent {
    height: 95%;
    width: 100%;
}

.codeStatus {
    height: 5%;
    width: 100%;
}

.codeStatus .code {
    height: 80%;
    width: 11.5%;
    float: left;
    background-color: rgba(29, 110, 186, 0.925);
    text-align: center;
    margin: 0.2%;
    font-size: 2vh;
}

.codeStatus .code:hover {
    background-color: #0E355A;
    cursor: pointer;
    color: azure;
}


.codeStatus .divisory {
    height: 100%;
    width: 1%;
    float: left;
}

.codeStatus .emergency {
    background-color: rgba(90, 14, 14, 0.795);
    color: azure;
}

.optionPanel{
    background-color: whitesmoke;
    height: 95%;
    width: 95%;
    margin: 1%;
}

.status {
    height: 5%;
    width: 100%;
    background-color: rgba(41, 41, 41, 0.733);
}


.status .option {
    height: 100%;
    background-color: rgba(29, 110, 186, 0.733);
    color: azure;
    font-size: 2vh;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5%;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 150%;
    z-index: 100;
}

.searchbar{
    font-size: 1.6vh;
    height: 5%;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    margin-left: 4px;
    float: left;
    padding: 0 10px;
    width: 450px;
    margin-bottom: 0.5%
}

.search_input{
    float: left;
    border: 0;
    outline: 0;
    background: none;
    width: 85%;
    font-size: 1.6vh;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
}


.search_icon{
    float: left;
    height: 12%;
    width: 20px;
    float: right;
    padding-left: 3px;
    border-radius: 50%;
    color: inherit;
}

.search_icon:active{
    color: #0E355A;
    background-color: rgb(0, 85, 165);
}

.status .divisory {
    width: 2%;
    height: 50%;
    margin: 1%;
    float: left;
}


.status .option:hover {
    background-color: #0E355A;
    cursor: pointer;
}

.leftMenu .option:active{
    background-color: rgb(2, 11, 20);
}

#mdcContentMain{
    height: 95%;
    width: 100%;
    letter-spacing: 0;
}

.active{
    border-left: 3px solid #21CCFC;
}
.noActive{
    margin-left: 3px;
}


.switchContainer {
    padding-top: 1%;
    float: left;
    height: 100%;
    font-size: 1vh;
    text-align: center;
    width: 120px;
}

.switch {
    position: relative;
    width: 25px;
    height: 15px;
  }

  /* Hide default HTML checkbox */
  .switch input {display:none;}

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(168, 168, 168);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1vh;
    width: 1vh;
    left: 3px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .switchContainer input:checked + .slider {
    background-color: #2196F3;
  }

  .switchContainer input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  .switchContainer input:checked + .slider:before {
    -webkit-transform: translateX(1vh);
    -ms-transform: translateX(1vh);
    transform: translateX(1vh);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 50px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .leftMenu .unitStat {
    height: 25px;
    width: 12%;
    font-size: 1.5vh;
    overflow: visible;
    text-overflow: ellipsis;


    text-align: center;
    vertical-align: middle;
    line-height: 200%;

    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.192);
}
.leftMenu .unitStatus {
    float: left;
    height: 100%;
    width: 10px;
}

.available
{
    background-color: rgb(14, 90, 18)
}

.onscene
{
    background-color: rgb(29, 31, 141)
}

.responding
{
    background-color: rgb(185, 167, 0)
}
.unavailable
{
    background-color: rgb(185, 0, 0)
}

#CopyRights{
    font-size: 10px;
    position: absolute;
    right: 15px;
    bottom: 0;
    font-family: monospace;
}

/* ======= Home ============== */
.topHomeColumn{
    /* margin: 0 1%; */
    float: left;
    height: 100%;
    
    font-size: 1.2vh;
}
.topHomeColumn div{
    padding: 0 1%;
}
.topHomeColumn hr{
    margin: 0 1%;
}
h3{
    font-size: 2vh;
    padding-left: 2%;
    margin-bottom: -0.3vh;
}

.createButton{
    float: right;
    background-color: #20770f98;
    padding: 0 5%;
    /* border-radius: 0.5vw; */
    cursor: pointer;
}
.createButton:hover{
    background-color: #134409;
}
.createButton:active{
    background-color: #1c630e;
}

#r911{
    width: 100%;
}
#r911 div:first-of-type{
    margin-right: 20px;
}
#r911 .topRow{
    height: calc(100% - 6vh);
    overflow-y: scroll;
}
#r911 div p{
    float: left;
    padding: 0;
    margin: 0;
}
#r911 .topRow div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.308);
}
#r911 div p:nth-child(1){
    width: 8%;
    text-align: center;
}
#r911 div p:nth-child(1) i{
    width: 3vw;
    height: 1vw;
    border-radius: 0.5vw;
    margin-left: calc(50% - 1.5vw);
    /* font-size: 0.8vw; */
    float: left;
}
#r911 div p:nth-child(2){
    width: 5%;
    text-align: center;
}
#r911 div p:nth-child(3){
    width: 3%;
    text-align: center;
}
#r911 div p:nth-child(4){
    width: 13%;
    -webkit-user-select: text;  /* Chrome all / Safari all */
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */
    user-select: text;          /* Likely future */
}
#r911 div p:nth-child(5){
    width: 61%;
}
#r911 div p:nth-child(6){
    width: 10%;
}
#r911 div p:nth-child(6) i{
    width: 33%;
    height: 2vh;
    padding-top: 0.1vw;
    font-size: 1.5vh;
    float: right;
}


#backup{
    width: 40%;
}
#backup div:first-of-type{
    margin-right: 20px;
}
#backup .topRow{
    height: calc(100% - 6vh);
    overflow-y: scroll;
}
#backup div p{
    float: left;
    padding: 0;
    margin: 0;
}
#backup .topRow div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.308);
}
#backup div p:nth-child(1){
    width: 10%;
    text-align: center;
}
#backup div p:nth-child(2){
    width: 8%;
}
#backup div p:nth-child(3){
    width: 5%;
    text-align: center;
}
#backup div p:nth-child(4){
    width: 15%;
    text-align: center;
}
#backup div p:nth-child(5){
    width: 37%;
}
#backup div p:nth-child(6){
    width: 25%;
   
}
#backup div p:nth-child(6) i{
    height: 2vh;
    padding-top: 0.2vw;
    width: 33%;
    font-size: 1.3vh;
}

#bolos{
    width: 60%;
}
#bolos div:first-of-type{
    margin-right: 20px;
}
#bolos .topRow{
    height: calc(100% - 6vh);
    overflow-y: scroll;
}
#bolos div p{
    float: left;
    padding: 0;
    margin: 0;
}
#bolos .topRow div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.308);
}

#bolos div p:nth-child(1){
    width: 3%;
    text-align: center;
}

#bolos div p:nth-child(2){
    width: 8%;
    text-align: center;
}
#bolos div p:nth-child(3){
    width: 12%;
    padding-left: 1%;
}

#bolos div p:nth-child(4){
    width: 18%;
    padding-left: 1%;
}

#bolos div p:nth-child(5){
    width: 52%;
}
#bolos div p:nth-child(6){
    width: 7%;
}
#bolos div p:nth-child(6) i{
    height: 2vh;
    padding-top: 0.2vw;
    width: 100%;
    font-size: 1.3vh;
}

/* ======== Search =========== */

.searchIndvPhoto{
    float: left;
    height: 15vh;
    width: 15vh;
    background-image: url("imgs/mugshot.jpg") ;
    background-color: #cccccc;
    /* margin-right: 20px; */
    margin-top: 5px;
    border-radius: 5%;
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.searchIndvPhoto img{
    height: inherit;
    width: inherit;
    border-radius: 5%;
}

.vehiclePhoto{
    float: left;
    height: 140px;
    width: 220px;
    margin-right: 20px;
    border-radius: 5%;
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.vehiclePhoto img{
    height: inherit;
    width: inherit;
    border-radius: 5%;
}

.searchIndvDetails{
    float: left;
    width: 40%;
    height: 100%;
    /* margin-right: 0.5%; */
    /* margin-bottom: 10px; */
    margin: 0 1% ;
    padding: 1%;
    font-size: 0.65vw;
    overflow: auto;
    
    background-color: rgba(43, 43, 43, 0.623);
    border-radius: 6px;
}

.searchIndvDetails .divisory{
    float: left;
    height: 8px;
    width: 98%;
}
.searchIndvDetails textarea{
    float: left;
    width: 100%;
    font-size: 1vh;
    margin-top:1vh;

    font-family: 'Courier New', Courier, monospace;
}

#personContentID .tabs{
    height: 5%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    float: left;
    font-size: 1.8vh;
}

#personContentID .tabs .tab{
    height: 100%;
    padding: 0 1.5%;
    margin-right: 0.2%;
    background-color: rgba(29, 110, 186, 0.733);
    float: left;
}

#personContentID .tabs .tab:hover{
    background-color: rgb(14, 68, 117);
    cursor: pointer;
}

#personContentID .tabs .option{
    height: 100%;
    padding: 0 1.5%;
    margin-left: 0.2%;
    background-color: rgba(186, 157, 29, 0.733);
    float: right;
}

#personContentID .tabs .option:hover{
    background-color: rgb(186, 157, 29);
    cursor: pointer;
}

.searchIndvProperty{
    float: left;
    width: 100%;
    border-bottom: 1px solid #cccccc67;
}
.searchIndvProperty div:nth-child(1) {
    float: left;
}
.searchIndvProperty div:nth-child(2) {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}
.searchIndvProperty div:nth-child(3) {
    float: left;
    width: inherit;
    padding-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.editable:hover{
    border-radius: 6px;
    background-color: #1D6EBA;
    color: aliceblue;
    cursor: pointer;
    padding: 0% 10%;
}
.clicklabe:hover{
    border-radius: 6px;
    background-color: #1D6EBA;
    color: aliceblue;
    cursor: pointer;
    padding: 0% 5%;
}
.clicklabe:active{
    background-color: #363636;
}
.Valid{
    color: darkgreen;
}
.Invalid{
    color: rgb(187, 0, 0);
}
.alarm{
    width: 100%;
    height: 3vh;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    background-color: #1D6EBA;
    font-size: 3vh;
    float: left;
}

#tabCantent{
    width: 100%;
    height: 63%;
    float: left;
    font-size: 0.7vw;
}

#chargesPlayer{
    width: 99.5%;
    float: left;
    margin: 0 0.5%;
    height: 85%;
}

#chargesPlayer .listCharges{
    height: calc(100% - 1.4vw);
    overflow-y: auto;
}

#chargesPlayer .listCharges div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    float: left;
    border-bottom: 1px dotted white;
}

/* #chargesPlayer .listCharges div:hover{
    background: #363636;
} */

#chargesPlayer div p{
    float: left;
    padding: 0;
    margin: 0;

}
#chargesPlayer div p:nth-child(1){
    width: 15%;
}
#chargesPlayer div p:nth-child(2){
    width: 10%;
}
#chargesPlayer div p:nth-child(3){
    width: 55%;
}
#chargesPlayer div p:nth-child(4){
    width: 20%;
}

#listVehicles {
    height: 85%;
    width: 100%;
    font-size: 0.6vw;
    overflow-y: auto;
}

#listVehicles .vehicleCard{
    float: left;
    height: 34%;
    width: 31%;
    background-color: #6b6b6b8a;
    border-radius: 3% 3% 3% / 15% 15%;
    margin: 1% 1%;
}

#listVehicles .vehicleCard:hover{
    background-color: #3d3d3dde;
    cursor: pointer;
}

#listVehicles img{
    width: 40%;
    height: 100%;
    float: left;
    border-radius: 3% 3% 3% / 15% 15%;
}

#listVehicles .vehProperty{
    width: 56%;
    float: left;
    margin: 0 2%;
    border-bottom: 1px solid rgba(212, 212, 212, 0.733);
}
#listVehicles .vehProperty div:nth-child(1){
    float: left;
}
#listVehicles .vehProperty div:nth-child(2){
    float: right;
}


#listProperties{
    width: 100%;
    font-size: 1.8vh;
    height: 85%;
    overflow-y: auto;
}
#listProperties .ClistProperties{
    height: calc(100% - 1vw);
    overflow-y: scroll;
}

#listProperties .ClistProperties div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    float: left;
    border-bottom: 1px dotted white;
    padding-left: 4%;
    background-color: #36363656;
}

#listfire{
    height: 100%;
    width: 100%;
    font-size: 1.7vh;
    
}

#listfire hr {
    border: 2px solid rgb(29, 110, 186);
    border-radius: 1px;
    margin-top: -1px;
    margin-bottom: -1px;
    width: 100%;
    float: left;
}

#listfire div{
    width: 100%;
}
#listfire .ClistFire{
    height: calc(100% - 2vw);
    overflow-y: scroll;
}

#listfire div p{
    float: left;
    padding: 0;
    margin: 0;

}
#listfire .ClistFire div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    float: left;
    cursor: pointer;
    border-bottom: 1px dotted white;
    background: rgba(68, 68, 68, 0.432);
    
}

#listfire .ClistFire div p:nth-child(1){
    font-weight: bold;
}

#listfire .ClistFire div:hover{
    background: #0E355A;
}
#listfire div p:nth-child(1){
    width: 20%;
}
#listfire div p:nth-child(2){
    width: 50%;
}
#listfire div p:nth-child(3){
    width: 30%;
}


 hr {
    border: 1px solid rgb(29, 110, 186);
    border-radius: 1px;
    margin-top: -1px;
    margin-bottom: -1px;
  }

.colorDisplay{
    height:  0.8vw;
    width: 35%;
    border-radius: 0.6vw;
    border: 1px solid #cccccc;
}

#vehColor1{
    background-color: rgb(0, 85, 165);
}

#vehColor2{
    background-color: rgb(0, 0, 0);
}


/* =========================================================================== Mini MDC */

.miniMDC {
    font-family: 'Staatliches', sans-serif;
    font-size: 1vh;
    letter-spacing: 1px;
    width: 40%;
    height:  100%;
    position: absolute;
    right: 0.4%;
    overflow-x: hidden;
    /* right: 0;
    bottom: 100px; */
}
.miniMDC .outer {
    position:   absolute;
    bottom: 100px;
    right: 0;
    width: 100%;
    height: 70px;
}
.miniMDC .callsBox {
    position:  absolute;
    bottom: 175px;
    right: 0;
    width: 100%;
    max-height: 20%;
    overflow-y: auto;
    margin-right: 0;
}

.miniMDC .outer .unit{
    height: 1.5vh;
    border-radius: 5px;
    background-color: #222;
    color: white;
    float: right;
    margin: 3px 3px;
    overflow: visible;
    padding-left: 10px;
}
.miniStatus{
    width: 8px;
    height: 100%;
    float: right;
    border-radius: 0 5px 5px 0;
    margin-left: 5px;
}

.miniMDC .callsBox .call{
    height: 1.5vh;
    border-radius: 5px;
    background-color: #222;
    color: white;
    float: right;
    min-width: 55%;
    margin: 3px 3px;
    max-width: 100%;
    vertical-align: bottom;
}

.miniMDC .callsBox .call i{

    padding-top: 0.2vh;
}

.miniMDC .call .callType{
    width: 20px;
    height: 100%;
    float: left;
    border-radius: 5px 0 0 5px ;
    margin-right: 5px;
    text-align: center;

}

.police{
    background-color: rgba(29, 110, 186, 0.685);
}
.medic{
    background-color: rgb(177, 112, 16, 0.685);
}
.both{
    background-color: rgb(177, 16, 16, 0.685);
}

.miniMDC .call .description{
    height: 100%;
    width:  calc(100% - 115px);
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.miniMDC .call .description:hover{
    background-color: rgba(19, 19, 19, 0.884);
}

.setcall{
    width: 30px;
    height: 100%;
    float: right;
    background-color: rgb(121, 109, 4, 0.664);
    font-size: 1vh;
    text-align: center;
    cursor: pointer;
}

 .setcall:hover{
    background-color: rgb(66, 60, 6);
}

.responce{
    width: 30px;
    height: 100%;
    float: right;
    background-color: rgba(17, 90, 14, 0.664);
    font-size: 1vh;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.responce:hover{
    background-color: rgb(7, 53, 6);
}

.closeCall{
    width: 30px;
    height: 100%;
    float: right;
    background-color: rgb(121, 4, 4, 0.664);
    font-size: 1vh;
    text-align: center;
    cursor: pointer;
}
.closeCall:hover{
    background-color: rgb(66, 6, 6);
}
/* =========================================================================== Radar MDC */
.radar {
    font-family: 'Staatliches', sans-serif;
    font-size: 1.3vh;
    letter-spacing: 1px;
    width: 15%;
    height: 30%;
    position: absolute;
    left: 1% ;
    bottom: calc(40% - 5vh);
    color: white;

}

.mainRadar{
    width: 100%;
    cursor: move;
    height: 7vh;

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px 20px 0 0 ;
}

.mainRadar .numberDiv{
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}

.mainRadar .numberTitle{
    width: 100%;
    height: 25%;
    float: left;
    background-color: #222;
}


.mainRadar .number{
    width: 100%;
    height: 75%;
    float: left;
    font-family: "digital";
    margin-top: -1vh;
    font-size: 4.5vh;
}
.mainRadar div:first-of-type .numberTitle{
    border-radius: 20px 0 0 0 ;
}

.mainRadar div:last-of-type .numberTitle{
    border-radius: 0 20px 0 0 ;
}
.vehDescription{
    width: 100%;
    height: 1.3vw;
    font-size: 0.7vw;
    text-align: center;
    border-top: 1px solid #cccccc54; 
}

.vehDescription .vehName{
    float: left;
    padding-top: 0.01vw;
    width: 34%;

}

.vehDescription .vehPlate{
    float: left;
    padding-top: 0.01vw;
    width: 33%;
}

.vehDescription .copy{
    float: left;
    padding-top: 1px;
    width: 33%;
    height: 100%;
    background-color: rgba(18, 89, 155, 0.295);
    cursor: pointer;
}

.vehDescription .copy:hover{
    background-color: rgb(12, 115, 211);
}

.vehicles{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 20px 20px;
}
.vehicles div:last-child .copy{
    border-radius: 0 0 20px 0;
}
